*{ margin: 0; padding: 0; box-sizing: border-box;}

body, li button, button, input{font-family: 'Montserrat', sans-serif;}


header{color: #fff; background-color: #000}

.headerBar{ width: 100%; height: 50px; position: fixed; border-bottom: 0.5px solid #d6d6d6; background-color: #fff;}

.menuBar img { width: 90px; height: 30px;}

.menuBar button, .menuBar img { margin-top: 10px; margin-left: 15px;}

.menuBar{ display: flex; float: left;}

.menuBar2{ display: flex; margin-right: 20px; margin-top: 10px; float: right;}

header ul { list-style-type: none; display: inline-block; margin-right: 20px;}

header ul:hover {
  background-color: #000
  color: #fff
}

header li{ padding: 8px; background: none; background-color: #fff; color: #000;
font-size: 14px; border: none;}

header button{background-color: #fff; border: none; font-size: 14px; padding: 8px;}

.slider{
  width: 100%;
  height: 300px;
}

.slider span{
  position: absolute;
  width: 100%;
  margin-top: 150px;
  text-align: center;
  color: #000}

.placeOrder input{
  width: 60%;
  height: 50px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  text-align: center;}

.placeOrder button{
  font-size: 16px;
  height: 50px;
  width: 50px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.placeOrder{text-align: center; margin: 100px 0;}

.promos{  display: flex; width: 100%; justify-content: space-between;}

.promos article{ margin: 0 80px;
}

#slider, .wrap, .slide-content{margin:0;
  padding:0; font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 350px;
  overflow-x: hidden;
}

.wrap{position: relative;}

.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide1{background-image: url('../img/img1.jpg')}
.slide2{background-image: url('../img/img2.jpg')}
.slide3{background-image: url('../img/img3.jpg')}

.slide-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font
}
.arrow{
  cursor: pointer;
  position: absolute;
  top: 25%;
  margin-top: 0px;
  width: 0;
  height: 0;
  color: #fff;
  font-size: 50px;
}
#arrow-left{
  border-width: 30px 40px 30px 0px;
  left: 0;
  margin-left: 30px;
}
#arrow-right{
  right: 0;
  margin-right: 30px;
}
